{% extends "layout.jinja2" %}

{% block content %}
<div class="card" id="resume-intro">
        <div>
            <img src="{{ url_for('static', filename='img/dan_bio_img.png') }}" class="logo" id="bio-img"/>
        </div>
        <br>
        <p>I've been fortunate enough to build data-powered solutions for fascinating problems across multiple business domains.</p>
        <br>
        <p>Currently, I implement and evaluate the machine-learning models that optimize conversion and retention at the New York Times.
        Before my current role, I was HSBC's lead Quant Trader for the Americas,
        where I managed the regional operations of one of the world's largest foreign exchange market-making algorithms.
        My work has encompassed a wide array of skills from data analysis to machine learning, financial markets, and client management.</p>
        <br>
        <p>Outside of work, I love to spend time outside - be it climbing, surfing, hiking or skateboarding around my neighborhood in Brooklyn.</p>
        <br>
        <p>If my background or the personal projects on this site are of interest to you or your organization,
        please reach out to me via: </p>
        <a href="mailto:d.f.ansari@gmail.com"><span>Email (d.f.ansari@gmail.com)</span><i class="fas fa-arrow-right"></i></a>
        or
        <a href="https://www.linkedin.com/in/ansari-dan/"><span>Connect on LinkedIn</span><i class="fas fa-arrow-right"></i></a>
</div>

<div class="card" id="resume">

    <h2> Education </h2>

    <h4><b>Johns Hopkins University, Whiting School of Engineering</b></h4>
    <p><em>Masters of Science, Data Science, Expected 2025</em></p>

    <ul type=”square”>
    <li>Foundational coursework in multivariate calculus, linear algebra, data structures, and mathematical statistics</li>
    <li>Advanced coursework in applied data science, data visualization, and algorithms for data science</li>
    </ul>

    <h4><b>New York University, Leonard N. Stern School of Business</b></h4>
    <p><em>Bachelor of Science, Concentrations in Finance and Computing & Data Science</em></p>

    <ul type=”square”>
    <li>GPA: 3.7 / 4.0, Cum Laude</li>
    <li>University Honors Scholar, Founders Day Award Recipient</li>
    <li>NYU Buenos Aires study-abroad with Spanish-language studies in Argentine identity, literature, and photography</li>
    </ul>

    <h2> Professional Experience </h2>

    <h4><b>The New York Times</b></h4>
    <p><em>Analytics Manager, Algorithmic Targeting</em></p>

    <ul type=”square”>
    <li>Designs and implements evaluation frameworks to measure the impact of algorithmic models applied to content access and subscriber retention</li>
    <li>Translates model performance for audiences of varied technical backgrounds to identify optimal parameters, guide model development, and apply causal approaches to business strategy</li>
    <li>Explores algorithm improvements through in-depth analyses of relationships among model outputs, user segments, and user behavior trends</li>
    <li>Constructs robust production ETL pipelines for model training and evaluation, including actionable monitoring and alerting</li>
    <li>Developed statistical and analytical tooling powering ethical evaluations of machine learning products across the NYT Data Science Group</li>
    </ul>

    <h4><b>HSBC Bank, North America</b></h4>
    <p><em>Quant Trader, Systematic Market Making</em></p>

    <ul type=”square”>
    <li>Managed the Americas operations of a top market-making franchise for Precious Metals, cash and derivative Foreign Exchange products</li>
    <li>Applied knowledge of algorithm behaviors, market dynamics, and macroeconomics to direct high-frequency trading through conditions including major market dislocations</li>
    <li>Leveraged statistical backtesting, model simulation, and A/B testing to turn daily observations into system improvements</li>
    <li>Delivered data-driven insights to internal and external audiences by integrating academic market structure research, modern plotting tools, and a keen understanding of data visualization theory</li>
    <li>Built actionable, real-time dashboards and analytics for key model outputs with interactive Python web applications</li>
    <li>Contributed to shared tooling used across the global Foreign Exchange team, including Python APIs for key datasets and interactive abstractions for core system components like backtests and customer configurations</li>
    <li>Created and taught in-house Python training curriculum covering basic programming concepts, data science fundamentals and relevant libraries</li>
    <li>Trained and managed the Americas junior trader as a direct report</li>
    </ul>

    <h4><b>New York University, Stern School of Business</b></h4>
    <p><em>Research Assistant, Professor Joel Hasbrouck</em></p>

    <ul type=”square”>
    <li>Contributed foundational analysis for studies on FX market liquidity and dealer network structure</li>
    <li>Paired macroeconomic research with programmatically identified market events to generate a guide of outlying economic events and news releases</li>
    </ul>

    <h4><b>Taylor Woods Capital</b></h4>
    <p><em>Trading Analyst, Commodities & Distressed Debt Funds</em></p>

    <ul type=”square”>
    <li>Modeled tradable rebalancing opportunities in the US oil and Brazilian ethanol markets</li>
    <li>Designed systematic, price-prediction strategies to simplify oil and metals data interpretation</li>
    </ul>

    <h4><b>Argentine Network for International Cooperation (Spanish: RACI)</b></h4>
    <p><em>Intern, Publications</em></p>

    <ul type=”square”>
    <li>Synthesized information about social venture funding for over 30 Spanish language publications</li>
    <li>Utilized bilingual skills at RACI-hosted forums while interacting with NGO executives</li>
    </ul>

    <h2> Skills and Interests </h2>

    <ul type=”square”>
    <li>
        Technical:
        <ul>
            <li>Data Analysis & Machine Learning: Python, SQL (BigQuery, Hive), KDB+ / Q,  R, Excel (VBA)</li>
            <li>Visualization & Reporting: Mode, Tableau, Power BI, Matplotlib, Plotly, Dash web applications (HTML, CSS)</li>
            <li>Data Workflow: Orchestration (Airflow, DBT), Monitoring (Monte Carlo), Version Control (GitHub),
            basic familiarity with CI/CD and cloud application deployment (Drone, Google Cloud, Docker)</li>
        </ul>
    </li>
    <li>Language: Spanish (professional proficiency) and French (basic)</li>
    <li>Interests: Mountain climbing, surfing, skiing, skateboarding, blues guitar</li>
    </ul>

</div>

{% endblock %}
