{% extends "layout.jinja2" %}

{% block content %}
<div class="card" id="resume-intro">
        <div>
            <img src="{{ url_for('static', filename='img/dan_bio_img.png') }}" class="logo" id="bio-img"/>
        </div>
        <br>
        <p>I've applied an education in Finance and Data Science as HSBC's lead Quant Trader for the Americas.
        My work encompasses a wide array of skills from direct client management to designing the algorithms that power one
        the world's largest systematic Foreign Exchange market-making machines.</p>
        <br>
        <p>If my background or the personal projects on this site are of interest to you or your organization,
        please reach out to me via: </p>
        <a href="mailto:d.f.ansari@gmail.com"><span>Email (d.f.ansari@gmail.com)</span><i class="fas fa-arrow-right"></i></a>
        or
        <a href="https://www.linkedin.com/in/daniel-ansari-624438b7/"><span>Connect on LinkedIn</span><i class="fas fa-arrow-right"></i></a>
</div>

<div class="card" id="resume">

    <h2> Education </h2>

    <h4> New York University, Leonard N. Stern School of Business </h4>
    <p><em>Bachelor of Science, Concentrations in Finance and Computing & Data Science</em></p>

    <ul type=”square”>
    <li>GPA: 3.7 / 4.0, Cum Laude</li>
    <li>University Honors Scholar, Founders Day Award Recipient</li>
    <li>NYU Buenos Aires study-abroad with Spanish-language studies in Argentine identity, literature, and photography</li>
    </ul>

    <h4> Continuing Education  </h4>
    <ul type=”square”>
    <li>Cloudera via Coursera, Modern Big Data Analysis with SQL, 2021</li>
    <li>Imperial College via Coursera, Mathematics for Machine Learning, 2020</li>
    <li> Mimo, Web Development, 2020</li>
    </ul>


    <h2> Professional Experience </h2>

    <h4> HSBC Bank, North America </h4>
    <p><em>Quant Trader, Systematic Market Making</em></p>

    <ul type=”square”>
    <li>Managed the Americas operations of a top market-making franchise for Precious Metals, cash and derivative Foreign Exchange products</li>
    <li>Combined knowledge of algorithm behaviors, trading dynamics, and macroeconomics to direct high-frequency risk-management through conditions including major market dislocations</li>
    <li>Leveraged statistical backtesting, software simulation analyses, and clinical trials to turn daily observations into system improvements</li>
    <li>Delivered data-driven insights to technical and non-technical clients by integrating academic market structure research with modern plotting tools and a keen understanding of data visualization theory</li>
    <li>Built actionable monitoring and analytics for key system outputs with interactive Python web applications</li>
    <li>Regularly committed code to a peer-reviewed repository for use across the group, including database APIs and generalized classes</li>
    <li>Created and taught in-house Python training curriculum covering basic programming concepts, data science fundamentals and relevant libraries</li>
    <li>Designed and coordinated development of trade acceptance logic to simplify cost analysis and better meet regulatory scrutiny of a fundamental business practice</li>
    <li>Trained and managed the Americas junior trader as a direct report</li>
    </ul>

    <h4> New York University, Stern School of Business</h4>
    <p><em>Research Assistant, Professor Joel Hasbrouck</em></p>

    <ul type=”square”>
    <li>Contributed foundational analysis for studies on FX market liquidity and dealer network structure</li>
    <li>Paired macroeconomic research with programmatically identified market events to generate a guide of outlying economic events and news releases</li>
    </ul>

    <h4> Taylor Woods Capital</h4>
    <p><em>Trading Analyst, Commodities & Distressed Debt Funds</em></p>

    <ul type=”square”>
    <li>Modeled tradable rebalancing opportunities in the US oil and Brazilian ethanol markets</li>
    <li>Designed systematic, price-prediction strategies to simplify oil and metals data interpretation</li>
    </ul>

    <h4> Argentine Network for International Cooperation (Spanish: RACI) </h4>
    <p><em>Intern, Publications</em></p>

    <ul type=”square”>
    <li>Synthesized information about social venture funding for over 30 Spanish language publications</li>
    <li>Utilized bilingual skills at RACI-hosted forums while interacting with NGO executives</li>
    </ul>

    <h4> NYU Office of Residential Life and Housing Services </h4>
    <p><em>Resident Assistant, Rubin Hall</em></p>

    <ul type=”square”>
    <li>Directed community development, wellness and policy enforcement for 55 first-year residents and led inclusive programming for hundreds of students on campus</li>
    </ul>

    <h2> Skills and Interests </h2>


    <ul type=”square”>
    <li>Certifications: Series 7 / 63, FCA Authorized (Securities, Regulations, Derivatives), Swap Dealer Associated Person</li>
    <li>Technical: Python (statistical analysis, data visualization, Dash), KDB+ / Q, R, Excel (VBA), SQL (basic Impala and Hive), Web Applications (basic CSS and HTML), Bloomberg (BMC Certified)</li>
    <li>Language: Spanish (professional proficiency) and French (basic)</li>
    <li>Interests: Mountain climbing, surfing, skiing, skateboarding, blues guitar</li>
    </ul>

</div>

{% endblock %}
